.contactMain {
  display: flex;
  justify-content: center;
  padding-bottom: 24px;
  background-color: #fff7e8;
}

.contatctSection {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  width: 100%;
  // background: linear-gradient(180deg, white 0%, rgba(209, 244, 255, 1) 50%, rgba(215, 226, 250, 1) 100%);
  border-radius: 60px;
  flex-wrap: wrap;
}

form {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two fields per row on large screens */
  gap: 20px;
  width: 70%;

  @media (max-width: 890px) {
    grid-template-columns: 1fr; /* Single field per row after 890px */
    width: 100%;
  }
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea,
select {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 16px;
  outline: none;
  transition: border 0.2s ease-in-out;
  box-sizing: border-box;

  &:focus {
    border-color: #0096e5;
  }
}

/* Force textarea and submit button to be full width */
textarea {
  grid-column: span 2; /* Full width for large screens */
  
  @media (max-width: 890px) {
    grid-column: span 1; /* Single row after 890px */
  }
}

.formActions {
  grid-column: span 2; /* Make button full-width on large screens */
  display: flex;
  justify-content: center;
  margin-top: 20px;

  @media (max-width: 890px) {
    grid-column: span 1; /* Ensures proper stacking after 890px */
    width: 100%;
  }

  button {
    width: 100%;
    max-width: 300px;
    background: linear-gradient(90deg, rgb(74, 142, 114), rgb(72, 213, 196));
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;

    &:hover {
      background: linear-gradient(90deg, rgb(72, 213, 196) 0%,  rgb(74, 142, 114));
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 4px rgba(0, 150, 229, 0.3);
    }
  }
}

/* Ensure the image section behaves correctly */
.visuals {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 45%;
  position: relative;

  .imageWrapper {
    @media (max-width: 860px) {
      display: none;
    }
    position: relative;
    display: flex;
    justify-content: center;

    .mainImage {
      border-radius: 30px;
      width: 93%;
    }
  }
}

.content {
  width: 100%;
}

/* Styling for the Thank You Message */
.thankYouMessage {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: green;
  font-size: 1.3em;
  margin-top: 50px;
  gap: 25px;
  margin-left: 50px;
}

.successIcon {
  margin-right: 10px;
  width: 100px;
  height: 100px !important;
}
