.individualTherapySection {
  padding: 4rem 1rem;
  background-color: #f9f9f9;
  color: #333;

  @media (min-width: 768px) {
    padding: 6rem 2rem;
  }
}

.sectionContent {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 0.5rem;
  // color: #2c3e50;
}

.intro {
  text-align: center;
  font-size: 1.3rem;
  color: #555;
  margin-bottom: 1.5rem;
}

.bookBtn {
  display: inline-block;
  background-color: #375a7f;
  color: #fff;
  padding: 0.75rem 1.5rem;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #2c3e50;
  }
}

.area {
  background-color: #fff;
  border-left: 4px solid #6B8D7A;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);

  h4 {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
    color: #2c3e50;
  }

  p {
    margin: 0.5rem 0;
    line-height: 1.6;
  }

  ul {
    list-style: disc;
    margin-left: 1.5rem;
    margin-top: 0.5rem;

    li {
      margin-bottom: 0.5rem;
    }
  }
}
