* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  height: 82px;
  background: white;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 60px;

  position: sticky;
  top: 0;
  z-index: 9999;
margin: 0 15px;
    color: #000;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
  border-bottom: 1px solid #f3f3f3;
}

/* LOGO */

.logo {
  img {
    width: 230px;
    cursor: pointer;
    object-fit: contain;
  }
}

/* LINKS */

.links {
  display: flex;
  align-items: center;
  gap: 35px;

  p {
    font-size: 14px;
    font-weight: 500;
    color: #222;
    cursor: pointer;
    transition: 0.3s;
    margin: 0 15px;
    color: #000;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;

    &:hover {
      color: #35574b;
    }
  }
}

/* DROPDOWN */

.dropdown {
  position: relative;

  p {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

.dropdownMenu {
  position: absolute;
  top: 21px;
  left: 0;

  width: 230px;

  background: white;
  border-radius: 6px;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);

  overflow: hidden;

  p {
    padding: 14px 18px;
    font-size: 14px;

    &:hover {
      background: #f7f7f7;
      color: #35574b;
    }
  }
}

/* CTA */

.contact {
  display: flex;
  align-items: center;
}

.bookBtn {
  background: #35574b;

  color: white;

  border: none;

  padding: 13px 22px;

  border-radius: 4px;

  font-size: 13px;
  font-weight: 600;

  cursor: pointer;

  transition: 0.3s;

  &:hover {
    background: #29453b;
  }
}

/* MOBILE */

.hamburger {
  display: none;

  border: none;
  background: transparent;

  font-size: 24px;

  cursor: pointer;

  color: #35574b;
}

/* OVERLAY */

.overlay {
  position: fixed;

  inset: 0;

  background: rgba(0, 0, 0, 0.5);

  opacity: 0;
  visibility: hidden;

  transition: 0.3s;

  z-index: 9998;
}

.showOverlay {
  opacity: 1;
  visibility: visible;
}

/* MOBILE */

.mobileHeader {
  display: none;
}

.closeIcon {
  font-size: 24px;
  cursor: pointer;
}

@media (max-width: 992px) {
  .navbar {
    padding: 0 20px;
  }

  .hamburger {
    display: block;
  }

  .contact {
    display: none;
  }

  .links {
    position: fixed;

    top: 0;
    left: 0;

    width: 300px;
    height: 100vh;

    background: white;

    flex-direction: column;
    align-items: flex-start;

    gap: 0;

    padding: 20px;

    transform: translateX(-100%);

    transition: 0.3s;

    z-index: 9999;

    p {
      width: 100%;
      padding: 15px 0;
      border-bottom: 1px solid #eee;
    }
  }

  .showMenu {
    transform: translateX(0);
  }

  .mobileHeader {
    width: 100%;

    display: flex;

    justify-content: space-between;

    align-items: center;

    margin-bottom: 20px;

    img {
      width: 140px;
    }
  }

  .dropdown {
    width: 100%;
  }

  .dropdownMenu {
    position: static;

    width: 100%;

    box-shadow: none;

    border: 1px solid #eee;

    margin-top: 10px;
  }
}

@media (max-width: 768px) {
  .logo img {
    width: 150px;
  }

  .navbar {
    height: 75px;
  }
}