

.appointmentMain{
display: flex;
justify-content: center;
padding-bottom: 24px;
  }
.appointmentSection{
    display: flex;
    justify-content: space-between;
 
    padding: 50px;
    width: 93%;
    background: linear-gradient(180deg, white 0%,rgba(209, 244, 255, 1)
    50%,rgba(215, 226, 250, 1)
  
    100%);
    border-radius: 60px;
}

.visuals {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 45%;
    position: relative;

    .imageWrapper {
      @media (max-width: 860px) { 
display: none;
      }
      position: relative;
      display: flex;
      justify-content: center;

      .mainImage {
        border-radius: 30px;
        width:76%;
        height: auto;
      }


    }
  }
.content{
  width: 78%;
  display: flex;
    flex-direction: column;
    h3{
      text-align: center;
    }

}

.AppointmentContent{
  display: flex;
  width: 100%;
    padding: 9px 0px 0px 0px;
    text-align: justify;
    gap: 20px;
}
.appointmentBtnDiv{
  display: flex;
  padding: 10px;
  justify-content: center;
}
a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  display: flex;
  align-items: center;

  i {
    margin-right: 5px;
  }

  &:hover {
    color: #00b3ff;
  }

}
.appointmentBtn {
  background: linear-gradient(90deg, rgba(36, 126, 192, 1),rgba(72, 213, 196, 1));
  color: white;
  padding: 16px 20px;
  border-radius: 20px;
  font-weight: bold;
  transition: background-color 0.3s;
  display: flex;
  margin: 20px;
  justify-content: center;
  border: none;
  cursor: pointer;

  
&:hover {
background: linear-gradient(90deg,  rgb(72, 213, 196) 0%, rgb(36, 126, 192) 100%); 
box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

&:focus {
outline: none;
box-shadow: 0 0 0 4px rgba(0, 150, 229, 0.3); 
}
}