.mainSection{
  padding: 50px;
  @media (max-width: 768px) {
  padding: 0px;


  }
}
.PrivacySection {
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: rgba(255, 160, 122, 0.1490196078);
  border-radius: 60px;

  @media (max-width: 768px) {
    padding: 0px; // Reduce padding for smaller screens
    border-radius: 0px;
 


  }
}