.cookies-policy {
    background-color: #e6f7ff;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
  
    h2 {
      font-size: 2em;
      color: #333;
      margin-bottom: 15px;
    }
  
    h3 {
      font-size: 1.5em;
      color: #555;
      margin-top: 20px;
      margin-bottom: 10px;
    }
  
    p, ul {
      font-size: 1em;
      color: #666;
      margin-bottom: 15px;
    }
  
    a {
      color: #007BFF;
      text-decoration: none;
  
      &:hover {
        text-decoration: underline;
      }
    }
  
    ul {
      padding-left: 20px;
  
      li {
        margin-bottom: 10px;
      }
    }
  }