.floatingBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  max-width: 320px;
  animation: fadeInUp 0.3s ease-in-out;
  background: white;

  @media (max-width: 768px) {
    display: flex;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    padding: 12px 20px;
    border-radius: 30px;
    background: white;
    font-size: 14px;
    width: 90%;
    max-width: 320px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    animation: fadeInUp 0.3s ease-in-out;
    justify-content: center;
    align-items: center;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate(-50%, 50px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}
}