.contactMain{
    display: flex;
    justify-content: center;
    padding-bottom: 24px;
      }
    .contatctSection{
        display: flex;
        justify-content: space-between;
     
        padding: 50px;
        width: 93%;
        background: linear-gradient(180deg, white 0%,rgba(209, 244, 255, 1)
        50%,rgba(215, 226, 250, 1)
      
        100%);
        border-radius: 60px;
    }

    form {
      display: grid;
      grid-template-columns: 1fr; 
      gap: 15px;
      width: 67%;
      padding: 15px 0px 0px 1px;
  
      @media (min-width: 922px) { 
        width: 100%;
        grid-template-columns: 1fr 1fr;
      }
      
      @media (max-width: 914px) { 
        width: 100%;
     
      }
  
      @media (max-width: 700px) { 
    display: flex;
    flex-direction: column;
     
      }
    }
    input[type="text"],
    input[type="email"],
    input[type="number"],
    input[type="textarea"],
    textarea,
    select {
      width: 100%;
      padding: 12px;
      border-radius: 8px;
      border: 1px solid #ddd;
      font-size: 16px;
      outline: none;
      transition: border 0.2s ease-in-out;
  
      &:focus {
        border-color: #0096e5;
      }
    }

    .formActions {
      grid-column: span 2; 
          display: flex;
          margin-top: 20px; 
      
      button {
        
        background: linear-gradient(90deg, rgb(36, 126, 192), rgb(72, 213, 196));
        color: white;
        border: none;
        padding: 12px 24px;
        font-size: 16px;
        font-weight: bold;
        border-radius: 50px;
        cursor: pointer;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease;
    
    
        &:hover {
          background: linear-gradient(90deg,  rgb(72, 213, 196) 0%, rgb(36, 126, 192) 100%); 
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
        }
    
        &:focus {
          outline: none;
          box-shadow: 0 0 0 4px rgba(0, 150, 229, 0.3); 
        }
      }
    }
    
    .visuals {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 45%;
        position: relative;
    
        .imageWrapper {
          @media (max-width: 860px) { 
    display: none;
          }
          position: relative;
          display: flex;
          justify-content: center;
    
          .mainImage {
            border-radius: 30px;
            width:93%;
          
          }
    
    
        }
      }
    .content{
      width: 78%;
    }
    .thankYouMessage {
      display: flex;
      align-items: center;
      flex-direction: column;
      color: green; 
      font-size: 1.3em; 
      margin-top: 50px;
      gap: 25px;
      margin-left: 50px;
    }
    
    .successIcon {
      margin-right: 10px; 
      width: 100px;
      height: 100px!important;
    }
    