.missionContainer {
  text-align: center;
  padding: 50px 5%;
  background-color: #f8f8f8;


}

.title {
  font-size: 36px;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 18px;
  color: black;
  // margin-bottom: 30px;
}

.missionGrid {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 30px;
  // flex-wrap: wrap;
}

.missionCard {
  background: #ffffff;
  padding: 30px;
  width: 250px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: space-between;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
  }

  h3 {
    font-size: 22px;
    margin: 15px 0;
    color: #333;
  }

  p {
    font-size: 14px;
    color: #666;
    line-height: 1.5;
  }

  .stepNumber {
    font-size: 22px;
    font-weight: bold;
    color: #ddd;
    position: absolute;
    bottom: 10px;
    right: 15px;
  }
}

.iconWrapper {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
  font-size: 26px;
  margin-bottom: 15px;

  &.icon-1 {
    background: #18a0fb;
  }
  &.icon-2 {
    background: #ff9500;
  }
  &.icon-3 {
    background: #ff3b30;
  }
  &.icon-4 {
    background: #4cd964;
  }
}

.arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  transform: translateY(-50%);
}

// Default rightward arrow
.arrowRight {
  top: 50%;
  right: -25px;
  border-width: 8px 0 8px 12px;
  border-color: transparent transparent transparent #ccc;
}

// Downward arrow for full-width cards
.arrowDown {
  left: 50%;
  bottom: -20px;
  transform: translateX(-50%);
  border-width: 12px 8px 0 8px;
  border-color: #ccc transparent transparent transparent;
}
// @media (max-width: 768px) {
//   .missionGrid {
//     flex-direction: column;
//     align-items: center;
//   }
// }

@media (max-width: 1024px) {

  .missionGrid {
    // display: flex;
    // justify-content: center;
    // align-items: stretch;
    // gap: 30px;
    flex-wrap: wrap;
  }
  .missionCard{
    width: 100%;
  }
}
