

.testimonialsSection {
 
  background-color: white;
    position: relative;
  
 
    .headerContainer {
      display: flex;
      padding-left: 33px;
      background-color: white;
      align-items: center;
      
      .mainImage {
        flex: 0.3;
        margin-right: 20px;
        
        img {
          width: 500px;
          height: auto;
          object-fit: cover;
        }
      }
  
      .textContainer {
        flex: 0.7;
        text-align: left;
  
        .subheading {
          font-size: 24px;
          color: #0073e6;
          margin-bottom: 10px;
        }
  
        .heading {
          font-size: 36px;
          font-weight: bold;
          margin-bottom: 10px;
        }
      }
    }
  

    .testimonialsSlider {
      overflow: hidden;
      width: 100%;
      margin: 0 auto;
    }
  
    .testimonialsContainer {
    background: linear-gradient(90deg, #E2F6FF, #D8E3FB);
      padding: 0px 0px 79px 31px;
    }
  
    .testimonialCard {
      padding: 20px;
      background-color: white;
      text-align: justify;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      text-align: left;
      box-sizing: border-box;

      .imageContainer {
        width: 60px;
        height: 60px;
        border-radius: 50%;
         margin: 0 auto;
        overflow: hidden;
        margin-bottom: 20px;
        align-self: center;
  
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
  
      h4 {
        font-size: 20px;
        margin-bottom: 10px;
        text-align: center;
      }
  
      .rating {
        color: #ffbf00;
        font-size: 18px;
        margin-bottom: 15px;
        text-align: center;
      }
  
      p {
        font-size: 14px;
        color: #6a6a6a;
        line-height: 1.6;
      }
    }

 
    .controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
  
      .controlButton {
       background: linear-gradient(180deg, rgb(36, 126, 192), rgb(72, 213, 196));
        color: white;
        padding: 10px 20px;
        border-radius: 50%;
        font-size: 16px;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin: 0 10px;
  
      
    &:hover {
      background: linear-gradient(90deg,  rgb(72, 213, 196) 0%, rgb(36, 126, 192) 100%); 
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 4px rgba(0, 150, 229, 0.3); 
    }
  
        i {
          font-size: 20px;
        }
      }
    }
  
    @media (max-width: 1024px) {
      .headerContainer {
        flex-direction: column;
  
        .mainImage {
          margin-bottom: 20px;
        }
      }
  
      .testimonialCard {
        min-width: 100%;
      }
      .testimonialsContainer {

          padding: 0px ;
        }
    }

    @media (max-width: 500px) {
      .headerContainer {

  
        .mainImage {
        img{
          width: 84%;
        }
      
        }
      }
    }
  }
.rightIcon{

  border: none;
  border-radius: 50%;
  background: linear-gradient(90deg, #4FD1C5, #4A91F2);
  padding: 10px;
  cursor: pointer;
  z-index: 4;
}
.leftIcon{

  border: none;
  border-radius: 50%;
  background: linear-gradient(90deg, #4FD1C5, #4A91F2);
  padding: 10px;
  cursor: pointer;
  z-index: 4;
}

